{% extends 'imperialnet/layoutimperial.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h2 class="text-center">Login</h2>
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="username" class="form-control" placeholder="Username" required disabled>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="Password" required disabled>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                        <div class="alert alert-warning mt-3" role="alert">
                            You cannot login from outside of the Galactic Empire territory.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
