body, html {
    height: 100%;
    margin: 0;
    color: white; /* Ustawienie koloru tekstu na biały */
    background-color: #000;
    font-family: 'Arial', sans-serif;
}

.background {
    background-image: url("/static/images/darkarchive.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.holocron-content {
    max-width: 900px;
    text-align: center;
}

.index-card {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    overflow: hidden;
    height: auto;
    color: white; /* Zachowanie koloru tekstu */
    animation: fadeIn 1s ease-in-out;
}

a {
    color: white;
}

a:hover {
    color: #5D3FD3; /* Fioletowy kolor dla linków na hover */
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #5D3FD3; /* Jasniejszy purpurowy dla nagłówków */
}

.navbar-dark .navbar-brand, .navbar-dark .nav-link {
    color: white; /* Ustawienie koloru linków nawigacyjnych na biały */
}

.navbar-dark .nav-link:hover,
.navbar-dark .nav-link:focus,
.navbar-dark .navbar-brand:hover,
.nav-item:hover {
    color: #5D3FD3 !important; /* Poprawiono: Fioletowy kolor dla linków nawigacyjnych na hover i focus */
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: #5D3FD3 !important; /* Fioletowy kolor dla linków nawigacyjnych na hover i focus, z użyciem !important dla pewności */
}
/* Dodanie animacji fadeIn */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.container {
    animation: fadeIn 1s ease-in-out;
}

/* Ustawienie globalnej czcionki */
body, html {
    font-family: 'Arial', sans-serif;
}

button div {
    margin-bottom: 20px;
}

button {
    background-color: #5D3FD3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7B5FD3; /* Lighter purple on hover */
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.photo img {
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.photo img:hover {
    transform: scale(1.05);
}

.photo p {
    color: white;
    text-align: center;
    margin-top: 10px;
}

/* AI helped with styles and javascripts on the website as well as in some cases just looks */
