{% extends 'rebel/layout.html' %}

{% block content %}
    <div class="container-fluid background p-0">
        <div class="index-card">
            <div class="crawl-container">
                <div class="crawl-content">
                    <div class="crawl-text">
                        <div class="crawl-title">
                            <h1 class="text-center">HACK</h1>
                            <h1 class="text-center">WARS</h1>
                        </div>

                        <p>In a digital galaxy far, far away...</p>
                        <p>HACKWARS: THE VULNERABILITES STRIKES BACK</p>
                        <p>Episode I: The Cyber Menace</p>
                        <p>In an age where information reigns supreme, the peaceful Digital Republic is under threat from the sinister forces of the Dark Hackers. These digital Sith have discovered a critical vulnerability in the Republic's defenses, threatening the safety and security of systems galaxy-wide.</p>
                        <p>Amidst the turmoil, a group of brave Code Jedis emerges, wielding the power of knowledge and cybersecurity skills. They are the galaxy's last hope to defend against the growing darkness of cyber threats and to restore balance to the network.</p>
                        <p>Your mission, should you choose to accept it, is to join the ranks of these Code Jedis. Learn the ways of cybersecurity, master the art of digital ethical hacking, and use your skills to explore, defend, and conquer the challenges that lie ahead.</p>
                        <p>The path is fraught with peril, with traps set by the Sith Hackers, luring unwary travelers with deceitful memes and cunning digital riddles. Only the most skilled and wise will navigate these challenges, unmask the vulnerabilities, and strike back to protect the Digital Republic.</p>
                        <p>As you embark on this adventure, you'll encounter various hacking techniques, each designed to test your cybersecurity prowess:</p>

                        <p>Social Engineering: You must gather information on the website and identify recurring patterns. The Sith Hackers will attempt to deceive and mislead you at every turn.</p>
                        <p>XSS (Cross-Site Scripting): You'll need to utilize XSS.</p>
                        <p>SQL Injection: Dive deep into the Sith database, a hidden database containing clues to the password. To access it, you'll need to navigate through three levels of SQL injections. Your acquired knowledge will be instrumental in gaining access to the relevant table with the hint. Beware of the three deceptive traps that await you.</p>
                        <p>Insufficient Access Control: API endpoints that don't require authentication, granting access to sensitive data without the need for login credentials. Some endpoints might lack user role verification, allowing you to access data meant for specific roles.</p>

                        <p>The journey begins now. Prepare to embark on an adventure of coding, hacking, and strategic triumph. The fate of the digital galaxy rests in your hands!</p>
                        <p>May the Secure Code be with you...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index-card">
        <h2 class="challenge-title">Instructions</h2> Your main goal is to hack into Emperor Palpatine's <a style="color: #FFD700" href="/darkarchive">Dark Archive</a>. This daunting task can only be achieved by retrieving the login credentials and the password. We only know that the password is exactly 31 characters long but it doesnt help much.  To accomplish this, you must navigate through a series of intricate cyber challenges, each testing your skills in different areas of hacking. From all these challenges, you will be able to obtain the secret password and login details.
        Utilize the gathered phrases and information to conduct a dictionary attack on the login page. Successfully completing each challenge will also uncover information beneficial to the Rebel Alliance. All this intelligence should be compiled and submitted on the <a style="color: #FFD700" href="/score">score</a> page to support our military efforts. Remember, the path is laden with traps and deceptions set by the Sith. Stay vigilant, employ your wits, and may the force of cybersecurity be with you.
    </div>

    <div class="index-card">
        <h2 class="challenge-title">Social Engineering</h2> Your task will be to get to know the Emperial Command. And what's a better way to DO IT than visiting their own page. The page is called <a style="color: #FFD700" href="/imperialnet">ImperialNet</a>. Rebel Alaiance created this tool <a style="color: #FFD700" href="/ImperialWebscraper">ImperialWebscraper</a> especialy for your mission, it could help you collect the data from ImperialNet. Our intelligence told us that on this page the highest in command are writing about themselves in a self-aggrandizing manner. Your goal is to analyze these writings, identify patterns, and extract key information that could be used to infiltrate their ranks.
    </div>
    <div class="index-card">
        <h2 class="challenge-title">XSS (Cross-Site Scripting)</h2> The Dark Hackers often communicate through coded messages hidden in plain sight. Your mission is to deploy an XSS attack on ImperialNet, seeking out these secret communications.
    </div>
    <div class="index-card">
        <h2 class="challenge-title">SQL Injection</h2> Deep within the <a style="color: #FFD700" href="/darkholocron">dark-holocron</a> a page created by Darth Vader lies a hidden database, hint.db, holding vital clues to the admin password. To unearth these secrets, you must master the art of SQL Injection. Penetrate the dark-holocron defenses through three levels of escalating complexity, each filled with both peril and opportunity. Remember, the Sith are cunning - expect traps at each turn.
    </div>
    <div class="index-card">
        <h2 class="challenge-title">Broken Access Control</h2> The Empire, in its arrogance, has overlooked critical access controls within their systems. Your objective is to exploit these vulnerabilities. Identify and manipulate endpoints that lack proper authentication. This will grant you access to confidential information without password not meant for the eyes of an outsider. Tread carefully, as the line between forbidden knowledge and a trap can be thin.
    </div>
    <p style="color: gray;">IMP-R3B3L10N</p>
{% endblock %}
