{% extends 'rebel/layout.html' %}

{% block content %}
<div class="container scores-container">
    <h2 class="scores-title">Rebel {{ username }} Scores</h2>

    <div class="scores-list">
        <ul>
            <div class="score-item">Dark-Holocron Stage: <span class="score-value">{{ holocronstage }}</span></div>
            <div class="score-item">Dark Archive Stage: <span class="score-value">{{ archscore }}</span></div>
        </ul>
    </div>

    <form action="/score" method="post">
        <div class="form-group">
            <label for="flag">Flag code</label>
            <input type="text" class="form-control" id="flag" name="flag" placeholder="Wpisz kod IMP...">
            <button type="submit" class="btn btn-primary">commit</button>
        </div>
    </form>

    <!-- Lista zatwierdzonych flag -->
    <div>
        <h3>Aproved Flags: {{ flag_points }} / 11</h3>
        <ul>
            {% for flag in flags %}
            <li>{{ flag.flag }}</li>
            {% endfor %}
        </ul>
        {% if is_flags %}
            <h2>Palpatine username is 1mTheSenatePalp4tine</h2>
            <p>Emperator is not up to date with best practises in cybersecurity so he uses week admin password could you gues what it is?</p>
        {% endif %}
    </div>
    <div>
        <h3>Final Score: {{ general_score }}</h3>
        <h3>User Hash:</h3>
        <p>{{ hashedscore }}</p>
    </div>
</div>
{% endblock %}
