{% extends "darkarchive/layout.html" %}

{% block content %}
<div class="container holocron-content">
    <div class="index-card"><h1>Emperor Palpatine's Control Panel</h1></div>
    <div class="index-card"><button onclick="location.href='https://www.youtube.com/watch?v=8b2XYfpvEa0'">Deploy the Fleet</button></div>
    <div class="index-card"><button onclick="location.href='https://www.youtube.com/watch?v=sNjWpZmxDgg'">Execute Order 66</button></div>
    <div class="index-card"><button onclick="location.href='https://www.youtube.com/watch?v=JW6GR6bZ7Vw'">Destroy Death Star</button></div>
    <div class="index-card"><button onclick="location.href='https://www.youtube.com/watch?v=QIYVMwi-cVE'">Palps goes flying</button></div>
</div>

<script>
    alert("IMP-M4Y-7H3-F0RC3-B3-W17HY0")
</script>
{% endblock %}

