.background {
    background-image: url("/static/images/rebel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-link {
    color: white !important;
    text-decoration: none !important;
}

.nav-link:hover {
    color: green !important;
    text-decoration: none !important;
}

a:hover {
    color: green !important;
    text-decoration: none !important;
}

.challenge-title {
    font-family: 'Star Jedi', Arial, sans-serif;
    color: #FFD700;
    text-shadow: 3px 3px #000;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.index-card {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    color: #d9d9d9;
    overflow: hidden;
    height: auto;
}


/* Star Wars Crawl Effect */
.crawl-container {
    position: relative;
    perspective: 500px;
    overflow: hidden;
    height: 80vh;
}

.crawl-content {
    position: absolute;
    top: 100%;
    transform-origin: 50% 100%;
    animation: crawl 150s linear infinite;
}

@keyframes crawl {
    0% {
        top: 100%;
        transform: rotateX(10deg)  translateZ(0);
    }
    100% {
        top: -8000px;
        transform: rotateX(15deg) translateZ(-2500px);
    }
}

.crawl-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellow;
    text-align: center;
    font-size: 60px;
    width: 150%;
    margin: 0 auto;
    padding-top: 50px;
    margin-left: -25%;
}

.crawl-title h1 {
    font-size: 220px;
    margin: 0;
    line-height: 1;
}

.scores-container {
    text-align: center;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    color: #FFD700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
}

.scores-title {
    font-family: 'Star Jedi', Arial, sans-serif;
    margin-bottom: 30px;
    font-size: 2.5rem;
    text-shadow: 3px 3px #000;
}

.scores-list {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
}

.score-item {
    margin: 15px 0;
}

.score-value {
    font-weight: bold;
}
