{% extends 'dark/layout.html' %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="height: 110vh; margin-left: -1vw;">
    <div class="index-card text-center">
        <h1>The Secrets of the Sith</h1>
        <p>Welcome to the archives of the Sith Holocron, the repository of the dark side's most guarded secrets and teachings. This Holocron serves as a guide to those who seek the true power of the Force, beyond the constraints of the Jedi Order.</p>

        <h2>The <span class="fw-bold" style="color: red;">SithCode</span></h2>
        <p>Peace is a lie, there is only passion.<br>
        Through passion, I gain strength.<br>
        Through strength, I gain power.<br>
        Through power, I gain victory.<br>
        Through victory, my chains are broken.<br>
        The Force shall free me.</p>

        <h2>Notable Sith Artifacts</h2>
        <p>Discover the ancient artifacts that have been instrumental in the Sith's pursuit of power, including the Mask of Darth Nihilus, the Star Forge, and the Sith Holocrons themselves.</p>

        <h2>Legendary Sith Lords</h2>
        <p>Delve into the histories of the most powerful Sith Lords who have shaped the galaxy: Darth Bane, the architect of the Rule of Two; Darth Sidious, the Emperor who orchestrated the fall of the Jedi; and Darth Vader, whose story of redemption is as compelling as his reign of terror.</p>

        <a href="/darkholocron/darkholocron/secretmessage" class="holocron-link">Unearth More Secrets</a>
    </div>
</div>


{% endblock %}
