{% extends 'layoutimperial.html' %}

{% block content %}
    <div class="profile-card">
        <!-- Profile Image -->
        <div class="profile-image">
            <img src="{{ url_for('static', filename='images/' ~ user.id ~ '.jpg') }}" alt="{{ user.name }}" class="img-circle">
        </div>

        <!-- Profile Information -->
        <h2 class="profile-header">{{ user.name }}</h2>
        <h3>{{ user.alias }}</h3>
        <p>{{ user.summary }}</p>

        <!-- Skills -->
        <h4>Skills</h4>
        <ul>
            {% for skill in skills %}
                <li>{{ skill.skill }}</li>
            {% endfor %}
        </ul>

        <!-- Job History -->
        <h4>Job History</h4>
        {% for job in jobs %}
            <div>
                <h5>{{ job.title }}</h5>
                <p>{{ job.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
